.head h1 {
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.left {
    background: #bfbfbf;
}

.right {
    background: #efefef;
    margin-left: 10px;
}

#block_list li {
    background: #bfbfbf;
    margin-bottom: 20px;
}

#login_status {
    visibility: hidden;
    color: red;
}

