body {
}

.head h1 {
    text-align: center;
}

.login {
    background: #efefef;
    text-align:center;
    padding-top: 20px;
}

.login_hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.base_filter {
    margin: 20px 20px 20px 20px;
}

#download_csv {
    visibility: hidden;
}

#export_curr_csv {
    float:right;
    margin: 20px 20px 20px 20px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.left {
    background: #bfbfbf;
}

.right {
    background: #efefef;
    margin-left: 10px;
}

#block_list li {
    background: #bfbfbf;
    margin-bottom: 20px;
}

#login_status {
    visibility: hidden;
    color: red;
}

